<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="practice testng">
       <classes>
           <class name="section_16_framework.testNG.Annotations"/>
           <class name="section_16_framework.testNG.TestScope"/>
           <class name="section_16_framework.testNG.ScopeClass"/>
           <class name="section_16_framework.testNG.MethodScope"/>
           <class name="section_16_framework.testNG.SuiteScope"/>
       </classes>
    </test>
</suite>